nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
}
nav button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #FFFFFF;
}
.buttonContainer, .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav span {
  font-family:'Bungee', cursive;
  transform: translateY(50%);
  font-size: 36px;
}
.fa-solid.fa-angles-down {
  text-align: center;
  color: red;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: #4056A1;
    background-image: url("/images/back-pattern.png");
  }
}