.tweet {
  margin: 0 auto;
  border: 3px solid black;
  margin-top: 15px;
  padding: 5px;
}
.tweet:hover {
  box-shadow: 10px 10px 10px;
}


article.tweet header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 10px;
}

article.tweet p {
  margin-top: 25px;
  font-size: 100%;
  border-bottom: 3px solid darkgray;
  word-break: break-all;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
article.tweet i:hover {
  color: #4056A1;
}

.handle {
  color: slategrey;
}